#add docker.env
PORT=4000
NODE_ENV=development

#MongoDB
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_HOST=be-mongo:27017
MONGODB_REPLICA_SET=
MONGODB_NAME=dev-tiktok
MONGODB_PROTOCOL=mongodb
MONGODB_URI=

#ES
ELASTIC_PROTOCOL=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=
ELASTIC_HOST=
ELASTIC_INDEX=
ELASTIC_TYPE=
ELASTIC_COLLECTION_NAME=
ELASTIC_URL=

#JWT
ACCESS_TOKEN_SECRET=987654321
REFRESH_TOKEN_SECRET=123456789

#CLOUDINARY
CLOUD_NAME=
API_KEY=
API_SECRET=

#Redis
REDIS_HOST=be-redis:6379